body{
  background-color: #F8EDE3
}

.calc-body{
  width:350px;
  height: 550px;
  margin:100px auto;
  border-style:outset;

  background-color: #C8DBBE;
  border-radius: 10px;
  border-color: darkGrey;
  border-width: thick;
}

.digit-container{
  width:300px;
  display: flex;
  flex-wrap: wrap;

}

.calc-container{
  width:300px;
  margin:0 auto;
}

.screen{
width:250px;
height: 75px;
margin: 30px auto 30px;
border-style:double;
background-color: PaleGreen;
display: flex;
justify-content: flex-end;
}
.screen h1{
  margin-right: 10px;
}

.screen h2{
  margin-top: 0;
  margin-right: 0;
}

.btn,.operator,.equal,.clear,.delete {
  width: 75px;
  height: 75px;
  color: #232931;
  font-size: 1.5em;
  border-radius: 7px;
  border-color: darkGrey;
  font-size:1.7em;
}
.delete,.clear{
  color: #FF1700;
  /* border-color: #FF1E1E; */
}



.del{
  display: flex;
  width:300px;
  justify-content: flex-end;
}
